* {
    color: purple;
    box-sizing: border-box;
}


body {
    background-color: pink;
    margin: 20px;
}

.infobox {
    background-color: lightgray;
    border: 4px solid purple;
    border-top: 10px solid purple;
    width: 50%;
    padding: 0px 10px
}

.topnav {
    background-color: pink;
    overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
}

.topnav a:hover {
  color: lightgray;
} 